# --- GÉNÉRAL ---
*.tar.gz
*.log
*.bak
*.tmp
.DS_Store

# --- TERRAFORM ---
# Dossier de téléchargement des providers et modules
.terraform/

# Fichiers d'état (State) - TRÈS IMPORTANT
# Bloque le state local et les dossiers de Workspaces (prod/staging)
*.tfstate
*.tfstate.*
terraform.tfstate.d/

# Fichiers de variables sensibles
# On ignore spécifiquement le fichier de secrets et tous les .tfvars 
# pour éviter de push des IPs ou des tokens par erreur.
secret.tfvars
*.tfvars
# Sauf si tu veux versionner tes configs non-sensibles, utilise alors :
# !prod.tfvars
# !staging.tfvars

# --- ANSIBLE ---
# Ignorer les inventaires GÉNÉRÉS par Terraform
# On ne versionne pas ce qui est auto-généré
ansible/environments/*/inventory.ini

# Fichiers de retry en cas d'échec
*.retry

# Configuration Ansible (si elle contient des chemins locaux)
# ansible/ansible.cfg

# --- SÉCURITÉ ---
# Clés SSH et certificats (on ne push jamais de clés privées !)
**/*.key
**/*.pem
**/*.pub
id_rsa
id_ed25519

# Certificats générés (Ansible les recréera)
**/*.crt
**/*.csr
