- name: Installer Nginx
  apt:
    name: nginx
    state: present
    update_cache: yes

- name: Installer les dépendances SSL
  apt:
    name: python3-cryptography
    state: present

- name: Créer le dossier pour les certificats SSL
  file:
    path: /etc/nginx/ssl
    state: directory
    mode: '0755'

- name: Générer une clé privée SSL
  community.crypto.openssl_privatekey:
    path: /etc/nginx/ssl/nginx.key
    size: 2048

- name: Générer un certificat auto-signé
  community.crypto.x509_certificate:
    path: /etc/nginx/ssl/nginx.crt
    privatekey_path: /etc/nginx/ssl/nginx.key
    provider: selfsigned
    selfsigned_not_after: "+365d" # Valide 1 an

- name: Déployer la configuration Nginx (HTTPS + Redirection)
  template:
    src: nginx.conf.j2
    dest: /etc/nginx/sites-available/default
  notify: Redémarrer Nginx

- name: Déployer la page index dynamique
  template:
    src: index.html.j2
    dest: /var/www/html/index.html
    owner: www-data
    group: www-data
    mode: '0644'

- name: Activer la configuration (Lien symbolique si besoin)
  file:
    src: /etc/nginx/sites-available/default
    dest: /etc/nginx/sites-enabled/default
    state: link

- name: UFW - Autoriser HTTP et HTTPS (80, 443)
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop:
    - '80'
    - '443'
