---
- name: Setup Infrastructure
  hosts: all
  become: yes
  tasks:
    - name: Update apt cache
      apt: update_cache=yes cache_valid_time=3600

- name: Setup Web Server
  hosts: webservers
  become: yes
  tasks:
    - name: Install Nginx
      apt: name=nginx state=present
    - name: Ensure Nginx is running
      service: name=nginx state=started enabled=yes

- name: Setup DB Server
  hosts: dbservers
  become: yes
  tasks:
    - name: Install MariaDB
      apt: name=mariadb-server state=present
    - name: Ensure MariaDB is running
      service: name=mariadb state=started enabled=yes
